*{
    margin: 0;
    padding: 0;
}
.main{
    width: 90%;
    margin: 20px auto;
    border: 2px solid black;
    background-color: rgb(59, 63, 63);
    display: grid;
    padding: 10px 10px;
    
    grid-template-rows: 150px 150px;   /* height of each row  */
     
    
     grid-template-columns:   repeat(3,1fr   /* or auto*/);

     
     gap: 10px ;
}

.div1{
    background-color: lightblue;
    /* grid-column-start: 1;
    grid-column-end: 3;  */
    }
    .div2{
    background-color: lightcoral;
    }
    .div3{
    background-color: lightcyan;
    }
    .div4{
    background-color: lightgreen;
    }
    .div5{
    background-color: lightgoldenrodyellow;
    }
    .div6{
    background-color: lightpink;
    grid-column: 1/ span 3;
    }
    
/* .div1{
    background-color: lightblue;
     grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2; 
    }
    .div2{
    background-color: lightcoral;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    }
    .div3{
    background-color: lightcyan;
    }
    .div4{
    background-color: lightgreen;
    grid-row-start: 3;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
    }
    .div5{
    background-color: lightgoldenrodyellow;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
    }
    .div6{
    background-color: lightpink;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    
    } */