*{
    margin: 0;
    padding: 0;
}
.main{
    width: 90%;
    margin: 20px auto;
    border: 2px solid black;
    background-color: rgb(59, 63, 63);
    display: grid;
    padding: 10px 10px;
    /* 
    grid=2(rows) X  3(coloum)

    */
    grid-template-rows: 150px 150px;   /* height of each row  */
     
    /* grid-template-columns: auto auto  auto; */
     /* auto make items of equal width  */

     /* grid-template-columns: 1fr 1fr 1fr; */
     /* fr is fractional  */

     grid-template-columns:   repeat(3,1fr   /* or auto*/);

     /* making gaps between the coloums and rows of grid  */
     /* grid-row-gap: 10px;
     grid-column-gap: 10px; */
     /* grid-gap: 10px ; */
     gap: 10px ;
}
.div1{
    background-color: lightblue;
    }
    .div2{
    background-color: lightcoral;
    }
    .div3{
    background-color: lightcyan;
    }
    .div4{
    background-color: lightgreen;
    }
    .div5{
    background-color: lightgoldenrodyellow;
    }
    .div6{
    background-color: lightpink;
    }